.bg{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(https://c.ndtvimg.com/2021-10/gon96nko_tata-motors-introduces-21-commercial-vehicle-models-and-variants-in-one-day_625x300_28_October_21.jpg);
    background-size: cover;
    background-position: center; 
}
.navbar{
    background-color: rgb(87, 144, 144);
    color: aliceblue;

  }
  .nav-link{
  color: #111212;

  }
  .nav-tabs {
  --bs-nav-tabs-border-width: 3px;
  --bs-nav-tabs-border-color: #111212;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-active-color: #161717;
  --bs-nav-tabs-link-active-bg: #fff;
  --bs-nav-tabs-link-active-border-color: #0a0a0a #151516 #fff;
  }
 
  .nav{
    --bs-nav-link-color: #e2e7f0;
    --bs-nav-link-hover-color: #e56220;
  }
  .navbar-toggler{
    color: aliceblue;
  }
  footer {
    text-align: center;
    background-color: rgb(87, 144, 144);
    color: white;
    display: block;
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    height:30px;
  }

.btn{
    background-color:green;
}


.tab-content{
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
    justify-content: space-between;
    color: aliceblue;
}
#Info{
    border-collapse: collapse;
    width: 100%;

  }
#Info td,th{
    border: 1px solid black;
    padding: 10px;
    height: 70px;
}
#Info th{
    background-color:rgba(108, 120, 120, 0.792);
}
#Info td{
    background-color:rgba(193, 204, 205, 0.864);
}